body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*{box-sizing: border-box;}

.navbar-brand {
    color: white;
    
}
.first{padding-left: 0;}
.navbar-brand:hover{
    color: white;
}

.nav-link {
    color: grey;
    padding-right: 0;
    text-align: end;
    padding-left: 10px;

}
.nav-link:hover {
    color: white;
}

.main_head {
    margin-top: 40px;
}

.cards {
    margin-top: 20px;
}

.card-body {
    text-align: center;
}

.footer {
    margin-top: 20px;
}
